In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
import ast

df_ted_main = pd.read_csv("data/ted_main.csv")
df_ted_transcripts = df = pd.read_csv("data/transcripts.csv")

In [3]:
############### PREPROCESSING OF THE DATA ###############
# - removing columns that are not needed
# - one hot encoding columns
# - adding sentiment analysis of transcripts 
# - combining columns together to create a new structure of the data frame

In [4]:
# ----------------------------------------------------------
# 1. remove unwanted columns
# ----------------------------------------------------------

df_ted_main.drop(['description', 'film_date', 'main_speaker', 'name', 'num_speaker', 'related_talks', 'speaker_occupation', 'title', 'url'], axis=1, inplace=True)
df_ted_main.head()

,comments,duration,event,languages,published_date,ratings,tags,views
0,4553,1164,TED2006,60,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","['children', 'creativity', 'culture', 'dance',...",47227110
1,265,977,TED2006,43,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","['alternative energy', 'cars', 'climate change...",3200520
2,124,1286,TED2006,26,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","['computers', 'entertainment', 'interface desi...",1636292
3,200,1116,TED2006,35,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","['MacArthur grant', 'activism', 'business', 'c...",1697550
4,593,1190,TED2006,48,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","['Africa', 'Asia', 'Google', 'demo', 'economic...",12005869

In [5]:
# ----------------------------------------------------------
# 2. one hot encoding
# ----------------------------------------------------------

# one hot encoding tags

# iterate trough the data set
for i, row in df_ted_main.iterrows():
    # change string formed list into normal list
    element_list_form = ast.literal_eval(df_ted_main.at[i,'tags'])
    element_list_form = [i.strip() for i in element_list_form]
    # finish converting by replacing string version of a list for the list type
    df_ted_main.at[i,'tags'] = element_list_form

# one hot encoding with column named "tags"
# since "tags" is a Series on each row, we need to split them first and then we can do one hot encoding
df_ted_main = df_ted_main.drop('tags', 1).join(
    pd.get_dummies(
        pd.DataFrame(df_ted_main.tags.tolist()).stack()
    ).astype(int).sum(level=0)
)

df_ted_main.head()

,comments,duration,event,languages,published_date,ratings,views,3d printing,AI,AIDS,...,wikipedia,wind energy,women,women in business,work,work-life balance,world cultures,writing,wunderkind,youth
0,4553,1164,TED2006,60,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",47227110,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,265,977,TED2006,43,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...",3200520,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,124,1286,TED2006,26,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...",1636292,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200,1116,TED2006,35,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...",1697550,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,593,1190,TED2006,48,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...",12005869,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# one hot encoding "event" column

def one_hot_encode(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res)

df_ted_main = one_hot_encode(df_ted_main, 'event')
df_ted_main.head()

,comments,duration,languages,published_date,ratings,views,3d printing,AI,AIDS,Addiction,...,event_TEDxZurich,event_TEDxZurich 2011,event_TEDxZurich 2012,event_TEDxZurich 2013,event_Taste3 2008,event_The Do Lectures,event_Toronto Youth Corps,event_University of California,event_Web 2.0 Expo 2008,event_World Science Festival
0,4553,1164,60,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",47227110,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,265,977,43,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...",3200520,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,124,1286,26,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...",1636292,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200,1116,35,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...",1697550,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,593,1190,48,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...",12005869,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#rating analysis
df_ted_main['ratings']=df_ted_main['ratings'].str.replace("'",'"')
df_ted_main=df_ted_main.merge(df_ted_main.ratings.apply(lambda x: pd.Series(pd.read_json(x)['count'].values,index=pd.read_json(x)['name'])), 
            left_index=True, right_index=True)

In [10]:
df_ted_main.columns.tolist()

['comments',
 'duration',
 'languages',
 'published_date',
 'ratings',
 'views',
 '3d printing',
 'AI',
 'AIDS',
 'Addiction',
 'Africa',
 "Alzheimer's",
 'Anthropocene',
 'Asia',
 'Autism spectrum disorder',
 'Bioethics',
 'Blindness',
 'Brand',
 'Brazil',
 'Buddhism',
 'CRISPR',
 'Christianity',
 'Criminal Justice',
 'DNA',
 'Debate',
 'Egypt',
 'Europe',
 'Foreign Policy',
 'Gender equality',
 'Gender spectrum',
 'God',
 'Google',
 'Guns',
 'HIV',
 'Human body',
 'Internet',
 'Iran',
 'Islam',
 'LGBT',
 'MacArthur grant',
 'Mars',
 'Middle East',
 'Moon',
 'NASA',
 'Natural resources',
 'New York',
 'Nobel prize',
 'PTSD',
 'Planets',
 'Senses',
 'Slavery',
 'South America',
 'String theory',
 'Surgery',
 'Surveillance',
 'Syria',
 'TED Books',
 'TED Brain Trust',
 'TED Fellows',
 'TED Prize',
 'TED Residency',
 'TED en Español',
 'TED-Ed',
 'TEDMED',
 'TEDNYC',
 'TEDYouth',
 'TEDx',
 'Transgender',
 'United States',
 'Vaccines',
 'activism',
 'adventure',
 'advertising',
 'aging',
 'agriculture',
 'aircraft',
 'algorithm',
 'alternative energy',
 'ancient world',
 'animals',
 'animation',
 'anthropology',
 'ants',
 'apes',
 'archaeology',
 'architecture',
 'art',
 'asteroid',
 'astrobiology',
 'astronomy',
 'atheism',
 'augmented reality',
 'bacteria',
 'beauty',
 'bees',
 'behavioral economics',
 'big bang',
 'big problems',
 'biodiversity',
 'biology',
 'biomechanics',
 'biomimicry',
 'biosphere',
 'biotech',
 'birds',
 'blockchain',
 'body language',
 'books',
 'botany',
 'brain',
 'bullying',
 'business',
 'cancer',
 'capitalism',
 'cars',
 'cello',
 'charter for compassion',
 'chemistry',
 'children',
 'china',
 'choice',
 'cities',
 'climate change',
 'cloud',
 'code',
 'cognitive science',
 'collaboration',
 'comedy',
 'communication',
 'community',
 'compassion',
 'complexity',
 'composing',
 'computers',
 'conducting',
 'consciousness',
 'conservation',
 'consumerism',
 'corruption',
 'cosmos',
 'creativity',
 'crime',
 'crowdsourcing',
 'culture',
 'curiosity',
 'cyborg',
 'dance',
 'dark matter',
 'data',
 'death',
 'decision-making',
 'deextinction',
 'demo',
 'democracy',
 'depression',
 'design',
 'dinosaurs',
 'disability',
 'disaster relief',
 'discovery',
 'disease',
 'driverless cars',
 'drones',
 'ebola',
 'ecology',
 'economics',
 'education',
 'empathy',
 'energy',
 'engineering',
 'entertainment',
 'entrepreneur',
 'environment',
 'epidemiology',
 'evil',
 'evolution',
 'evolutionary psychology',
 'exoskeleton',
 'exploration',
 'extraterrestrial life',
 'extreme sports',
 'failure',
 'faith',
 'family',
 'farming',
 'fashion',
 'fear',
 'feminism',
 'film',
 'finance',
 'fish',
 'flight',
 'food',
 'forensics',
 'friendship',
 'funny',
 'future',
 'gaming',
 'garden',
 'gender',
 'genetics',
 'geology',
 'glacier',
 'global development',
 'global issues',
 'goal-setting',
 'government',
 'grammar',
 'green',
 'guitar',
 'hack',
 'happiness',
 'health',
 'health care',
 'hearing',
 'heart health',
 'history',
 'human origins',
 'humanity',
 'humor',
 'identity',
 'illness',
 'illusion',
 'immigration',
 'india',
 'industrial design',
 'inequality',
 'infrastructure',
 'innovation',
 'insects',
 'intelligence',
 'interface design',
 'interview',
 'introvert',
 'invention',
 'investment',
 'iraq',
 'jazz',
 'journalism',
 'language',
 'law',
 'leadership',
 'library',
 'life',
 'literature',
 'live music',
 'love',
 'machine learning',
 'magic',
 'manufacturing',
 'map',
 'marketing',
 'materials',
 'math',
 'media',
 'medical imaging',
 'medical research',
 'medicine',
 'meditation',
 'meme',
 'memory',
 'men',
 'mental health',
 'microbes',
 'microbiology',
 'microfinance',
 'microsoft',
 'military',
 'mind',
 'mindfulness',
 'mining',
 'mission blue',
 'mobility',
 'molecular biology',
 'money',
 'monkeys',
 'morality',
 'motivation',
 'movies',
 'museums',
 'music',
 'nanoscale',
 'narcotics',
 'natural disaster',
 'nature',
 'neuroscience',
 'news',
 'nonviolence',
 'novel',
 'nuclear energy',
 'nuclear weapons',
 'obesity',
 'oceans',
 'oil',
 'online video',
 'open-source',
 'origami',
 'pain',
 'painting',
 'paleontology',
 'pandemic',
 'parenting',
 'peace',
 'performance',
 'performance art',
 'personal growth',
 'personality',
 'pharmaceuticals',
 'philanthropy',
 'philosophy',
 'photography',
 'physics',
 'physiology',
 'piano',
 'plants',
 'plastic',
 'play',
 'poetry',
 'policy',
 'politics',
 'pollution',
 'population',
 'potential',
 'poverty',
 'prediction',
 'pregnancy',
 'presentation',
 'primates',
 'prison',
 'privacy',
 'product design',
 'productivity',
 'programming',
 'prosthetics',
 'protests',
 'psychology',
 'public health',
 'public spaces',
 'race',
 'refugees',
 'relationships',
 'religion',
 'resources',
 'rivers',
 'robots',
 'rocket science',
 'sanitation',
 'science',
 'science and art',
 'security',
 'self',
 'sex',
 'sexual violence',
 'shopping',
 'sight',
 'simplicity',
 'singer',
 'skateboarding',
 'sleep',
 'smell',
 'social change',
 'social media',
 'society',
 'sociology',
 'software',
 'solar energy',
 'solar system',
 'sound',
 'space',
 'speech',
 'spoken word',
 'sports',
 'state-building',
 'statistics',
 'storytelling',
 'street art',
 'student',
 'submarine',
 'success',
 'suicide',
 'sustainability',
 'synthetic biology',
 'teaching',
 'technology',
 'telecom',
 'telescopes',
 'television',
 'terrorism',
 'testing',
 'theater',
 'time',
 'toy',
 'trafficking',
 'transportation',
 'travel',
 'trees',
 'trust',
 'typography',
 'universe',
 'urban',
 'urban planning',
 'violence',
 'violin',
 'virtual reality',
 'virus',
 'visualizations',
 'vocals',
 'vulnerability',
 'war',
 'water',
 'weather',
 'web',
 'wikipedia',
 'wind energy',
 'women',
 'women in business',
 'work',
 'work-life balance',
 'world cultures',
 'writing',
 'wunderkind',
 'youth',
 'event_AORN Congress',
 'event_Arbejdsglaede Live',
 'event_BBC TV',
 'event_Bowery Poetry Club',
 'event_Business Innovation Factory',
 'event_Carnegie Mellon University',
 'event_Chautauqua Institution',
 'event_DICE Summit 2010',
 'event_DLD 2007',
 'event_EG 2007',
 'event_EG 2008',
 'event_Elizabeth G. Anderson School',
 "event_Eric Whitacre's Virtual Choir",
 'event_Fort Worth City Council',
 'event_Full Spectrum Auditions',
 'event_Gel Conference',
 'event_Global Witness HQ',
 'event_Handheld Learning',
 'event_Harvard University',
 'event_INK Conference',
 'event_Justice with Michael Sandel',
 'event_LIFT 2007',
 'event_Michael Howard Studios',
 'event_Mission Blue II',
 'event_Mission Blue Voyage',
 'event_New York State Senate',
 'event_NextGen:Charity',
 'event_Princeton University',
 'event_RSA Animate',
 'event_Royal Institution',
 'event_Serious Play 2008',
 'event_Skoll World Forum 2007',
 'event_SoulPancake',
 'event_Stanford University',
 'event_TED Dialogues',
 'event_TED Fellows 2015',
 'event_TED Fellows Retreat 2013',
 'event_TED Fellows Retreat 2015',
 'event_TED Prize Wish',
 'event_TED Residency',
 'event_TED Senior Fellows at TEDGlobal 2010',
 'event_TED Studio',
 'event_TED Talks Education',
 'event_TED Talks Live',
 'event_TED in the Field',
 'event_TED-Ed',
 'event_TED-Ed Weekend',
 'event_TED1984',
 'event_TED1990',
 'event_TED1994',
 'event_TED1998',
 'event_TED2001',
 'event_TED2002',
 'event_TED2003',
 'event_TED2004',
 'event_TED2005',
 'event_TED2006',
 'event_TED2007',
 'event_TED2008',
 'event_TED2009',
 'event_TED2010',
 'event_TED2011',
 'event_TED2012',
 'event_TED2013',
 'event_TED2014',
 'event_TED2015',
 'event_TED2016',
 'event_TED2017',
 'event_TED@BCG Berlin',
 'event_TED@BCG London',
 'event_TED@BCG Paris',
 'event_TED@BCG San Francisco',
 'event_TED@BCG Singapore',
 'event_TED@Bangalore',
 'event_TED@Cannes',
 'event_TED@IBM',
 'event_TED@Intel',
 'event_TED@Johannesburg',
 'event_TED@London',
 'event_TED@MotorCity',
 'event_TED@NYC',
 'event_TED@Nairobi',
 'event_TED@New York',
 'event_TED@SXSWi',
 'event_TED@State',
 'event_TED@State Street Boston',
 'event_TED@State Street London',
 'event_TED@StateStreet Boston',
 'event_TED@UPS',
 'event_TED@Unilever',
 'event_TEDActive 2011',
 'event_TEDActive 2014',
 'event_TEDActive 2015',
 'event_TEDCity2.0',
 'event_TEDGlobal 2005',
 'event_TEDGlobal 2007',
 'event_TEDGlobal 2009',
 'event_TEDGlobal 2010',
 'event_TEDGlobal 2011',
 'event_TEDGlobal 2012',
 'event_TEDGlobal 2013',
 'event_TEDGlobal 2014',
 'event_TEDGlobal 2017',
 'event_TEDGlobal>Geneva',
 'event_TEDGlobal>London',
 'event_TEDGlobalLondon',
 'event_TEDIndia 2009',
 'event_TEDLagos Ideas Search',
 'event_TEDMED 2009',
 'event_TEDMED 2010',
 'event_TEDMED 2011',
 'event_TEDMED 2012',
 'event_TEDMED 2013',
 'event_TEDMED 2014',
 'event_TEDMED 2015',
 'event_TEDMED 2016',
 'event_TEDNYC',
 'event_TEDNairobi Ideas Search',
 'event_TEDPrize@UN',
 'event_TEDSalon 2006',
 'event_TEDSalon 2007 Hot Science',
 'event_TEDSalon 2009 Compassion',
 'event_TEDSalon Berlin 2014',
 'event_TEDSalon London 2009',
 'event_TEDSalon London 2010',
 'event_TEDSalon London Fall 2011',
 'event_TEDSalon London Fall 2012',
 'event_TEDSalon London Spring 2011',
 'event_TEDSalon London Spring 2012',
 'event_TEDSalon NY2011',
 'event_TEDSalon NY2012',
 'event_TEDSalon NY2013',
 'event_TEDSalon NY2014',
 'event_TEDSalon NY2015',
 'event_TEDSummit',
 'event_TEDWomen 2010',
 'event_TEDWomen 2013',
 'event_TEDWomen 2015',
 'event_TEDWomen 2016',
 'event_TEDYouth 2011',
 'event_TEDYouth 2012',
 'event_TEDYouth 2013',
 'event_TEDYouth 2014',
 'event_TEDYouth 2015',
 'event_TEDxABQ',
 'event_TEDxAmazonia',
 'event_TEDxAmericanRiviera',
 'event_TEDxAmoskeagMillyard',
 'event_TEDxAmsterdam',
 'event_TEDxArendal',
 'event_TEDxAsheville',
 'event_TEDxAthens',
 'event_TEDxAtlanta',
 'event_TEDxAustin',
 'event_TEDxBG',
 'event_TEDxBeaconStreet',
 'event_TEDxBeirut',
 'event_TEDxBend',
 'event_TEDxBerkeley',
 'event_TEDxBerlin',
 'event_TEDxBinghamtonUniversity',
 'event_TEDxBloomington',
 'event_TEDxBoston',
 'event_TEDxBoston 2009',
 'event_TEDxBoston 2010',
 'event_TEDxBoston 2011',
 'event_TEDxBoston 2012',
 'event_TEDxBoulder',
 'event_TEDxBoulder 2011',
 'event_TEDxBratislava',
 'event_TEDxBrighton',
 'event_TEDxBrussels',
 'event_TEDxCERN',
 'event_TEDxCHUV',
 'event_TEDxCMU',
 'event_TEDxCaFoscariU',
 'event_TEDxCaltech',
 'event_TEDxCambridge',
 'event_TEDxCanberra',
 'event_TEDxCannes',
 'event_TEDxChange',
 'event_TEDxChapmanU',
 'event_TEDxClaremontColleges',
 'event_TEDxColbyCollege',
 'event_TEDxColoradoSprings',
 'event_TEDxColumbus',
 'event_TEDxColumbusWomen',
 'event_TEDxConcorde',
 'event_TEDxConcordiaUPortland',
 'event_TEDxCreativeCoast',
 'event_TEDxCrenshaw',
 'event_TEDxDU 2010',
 'event_TEDxDU 2011',
 'event_TEDxDanubia',
 'event_TEDxDeExtinction',
 'event_TEDxDelft',
 'event_TEDxDesMoines',
 'event_TEDxDirigo',
 'event_TEDxDubai',
 'event_TEDxDublin',
 'event_TEDxEQChCh',
 'event_TEDxEast',
 'event_TEDxEastEnd',
 'event_TEDxEdmonton',
 'event_TEDxEuston',
 'event_TEDxExeter',
 'event_TEDxFiDiWomen',
 'event_TEDxFrankfurt',
 'event_TEDxFulbrightDublin',
 'event_TEDxGatewayWomen',
 'event_TEDxGeorgetown',
 'event_TEDxGhent',
 'event_TEDxGlasgow',
 'event_TEDxGoldenGatePark 2012',
 'event_TEDxGoodenoughCollege',
 'event_TEDxGrandRapids',
 'event_TEDxGreatPacificGarbagePatch',
 'event_TEDxGroningen',
 'event_TEDxGöteborg 2010',
 'event_TEDxHamburg',
 'event_TEDxHampshireCollege',
 'event_TEDxHelvetia',
 'event_TEDxHogeschoolUtrecht',
 'event_TEDxHousesOfParliament',
 'event_TEDxHouston',
 'event_TEDxImperialCollege',
 'event_TEDxIndianaUniversity',
 'event_TEDxIndianapolis',
 'event_TEDxIslay',
 'event_TEDxJaffa 2012',
 'event_TEDxJaffa 2013',
 'event_TEDxKC',
 'event_TEDxKids@Ambleside',
 'event_TEDxKids@Brussels',
 'event_TEDxKrakow',
 'event_TEDxKyoto',
 'event_TEDxLeuvenSalon',
 'event_TEDxLinnaeusUniversity',
 'event_TEDxLondonBusinessSchool',
 'event_TEDxMIA',
 'event_TEDxMaastricht',
 'event_TEDxManchester',
 'event_TEDxManhattan',
 'event_TEDxManhattanBeach',
 'event_TEDxMarin',
 'event_TEDxMaui',
 'event_TEDxMet',
 'event_TEDxMiamiUniversity',
 'event_TEDxMidAtlantic',
 'event_TEDxMidAtlantic 2013',
 'event_TEDxMidwest',
 'event_TEDxMileHigh',
 'event_TEDxMonroeCorrectionalComplex',
 'event_TEDxMonterey',
 'event_TEDxMontreal',
 'event_TEDxMtHood',
 'event_TEDxMuncyStatePrison',
 'event_TEDxNASA',
 'event_TEDxNASA@SiliconValley',
 'event_TEDxNYED',
 'event_TEDxNatick',
 'event_TEDxNewYork',
 'event_TEDxNewy',
 'event_TEDxNextGenerationAsheville',
 'event_TEDxNijmegen',
 'event_TEDxNorrkoping',
 'event_TEDxNorthwesternU',
 "event_TEDxO'Porto",
 'event_TEDxObserver',
 'event_TEDxOilSpill',
 'event_TEDxOmaha',
 'event_TEDxOrangeCoast',
 'event_TEDxOrcasIsland',
 'event_TEDxOslo',
 'event_TEDxPSU',
 'event_TEDxParis 2010',
 'event_TEDxParis 2012',
 'event_TEDxPeachtree',
 'event_TEDxPenn',
 'event_TEDxPennQuarter',
 'event_TEDxPennsylvaniaAvenue',
 'event_TEDxPerth',
 'event_TEDxPhoenix',
 'event_TEDxPittsburgh',
 'event_TEDxPlaceDesNations',
 'event_TEDxPortland',
 'event_TEDxPortofSpain',
 'event_TEDxProvidence',
 'event_TEDxPuget Sound ',
 'event_TEDxRC2',
 'event_TEDxRainier',
 'event_TEDxRiodelaPlata',
 'event_TEDxRotterdam 2010',
 'event_TEDxSBU',
 'event_TEDxSF',
 'event_TEDxSFU',
 'event_TEDxSMU',
 'event_TEDxSaltLakeCity',
 'event_TEDxSanDiego',
 'event_TEDxSanJoseCA',
 'event_TEDxSanMigueldeAllende',
 'event_TEDxSanQuentin',
 'event_TEDxSantaCruz',
 'event_TEDxSeattleU',
 'event_TEDxSeoul',
 'event_TEDxSiliconValley',
 'event_TEDxSkoll',
 'event_TEDxSonomaCounty',
 'event_TEDxSouthBank',
 'event_TEDxStanford',
 'event_TEDxSummit',
 'event_TEDxSussexUniversity',
 'event_TEDxSydney',
 'event_TEDxTC',
 'event_TEDxTeen',
 'event_TEDxTelAviv 2010',
 'event_TEDxThessaloniki',
 'event_TEDxTokyo',
 'event_TEDxToronto',
 'event_TEDxToronto 2010',
 'event_TEDxToronto 2011',
 'event_TEDxToulouse',
 'event_TEDxUCL',
 'event_TEDxUF',
 'event_TEDxUIUC',
 'event_TEDxUM',
 'event_TEDxUMKC',
 'event_TEDxUSC',
 'event_TEDxUW',
 'event_TEDxUdeM',
 'event_TEDxUniversityofNevada',
 'event_TEDxUofM',
 'event_TEDxVancouver',
 'event_TEDxVictoria',
 'event_TEDxVienna',
 'event_TEDxVirginiaTech',
 'event_TEDxWarwick',
 'event_TEDxWaterloo',
 'event_TEDxWinnipeg',
 'event_TEDxWitsUniversity',
 'event_TEDxWomen 2011',
 'event_TEDxWomen 2012',
 'event_TEDxYYC',
 'event_TEDxYouth@Manchester',
 'event_TEDxYouth@Sydney',
 'event_TEDxZurich',
 'event_TEDxZurich 2011',
 'event_TEDxZurich 2012',
 'event_TEDxZurich 2013',
 'event_Taste3 2008',
 'event_The Do Lectures',
 'event_Toronto Youth Corps',
 'event_University of California',
 'event_Web 2.0 Expo 2008',
 'event_World Science Festival',
 'Funny',
 'Beautiful',
 'Ingenious',
 'Courageous',
 'Longwinded',
 'Confusing',
 'Informative',
 'Fascinating',
 'Unconvincing',
 'Persuasive',
 'Jaw-dropping',
 'OK',
 'Obnoxious',
 'Inspiring']