In [59]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
import ast
from textblob import TextBlob

df_ted_main = pd.read_csv("data/ted_main.csv")
df_ted_transcripts = df = pd.read_csv("data/transcripts.csv")

In [60]:

df_ted_main.drop(['description', 'film_date', 'main_speaker', 'name', 'num_speaker', 'related_talks', 'speaker_occupation', 'title', 'url'], axis=1, inplace=True)
df_ted_main.head()

,comments,duration,event,languages,published_date,ratings,tags,views
0,4553,1164,TED2006,60,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","['children', 'creativity', 'culture', 'dance',...",47227110
1,265,977,TED2006,43,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","['alternative energy', 'cars', 'climate change...",3200520
2,124,1286,TED2006,26,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","['computers', 'entertainment', 'interface desi...",1636292
3,200,1116,TED2006,35,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","['MacArthur grant', 'activism', 'business', 'c...",1697550
4,593,1190,TED2006,48,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","['Africa', 'Asia', 'Google', 'demo', 'economic...",12005869

In [61]:
# ----------------------------------------------------------
# 2. one hot encoding
# ----------------------------------------------------------

# one hot encoding tags

# iterate trough the data set
for i, row in df_ted_main.iterrows():
    # change string formed list into normal list
    element_list_form = ast.literal_eval(df_ted_main.at[i,'tags'])
    element_list_form = [i.strip() for i in element_list_form]
    # finish converting by replacing string version of a list for the list type
    df_ted_main.at[i,'tags'] = element_list_form

# one hot encoding with column named "tags"
# since "tags" is a Series on each row, we need to split them first and then we can do one hot encoding
df_ted_main = df_ted_main.drop('tags', 1).join(
    pd.get_dummies(
        pd.DataFrame(df_ted_main.tags.tolist()).stack()
    ).astype(int).sum(level=0)
)

df_ted_main.head()

,comments,duration,event,languages,published_date,ratings,views,3d printing,AI,AIDS,...,wikipedia,wind energy,women,women in business,work,work-life balance,world cultures,writing,wunderkind,youth
0,4553,1164,TED2006,60,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",47227110,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,265,977,TED2006,43,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...",3200520,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,124,1286,TED2006,26,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...",1636292,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200,1116,TED2006,35,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...",1697550,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,593,1190,TED2006,48,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...",12005869,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
# one hot encoding "event" column

def one_hot_encode(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res)

df_ted_main = one_hot_encode(df_ted_main, 'event')
df_ted_main.head()

,comments,duration,languages,published_date,ratings,views,3d printing,AI,AIDS,Addiction,...,event_TEDxZurich,event_TEDxZurich 2011,event_TEDxZurich 2012,event_TEDxZurich 2013,event_Taste3 2008,event_The Do Lectures,event_Toronto Youth Corps,event_University of California,event_Web 2.0 Expo 2008,event_World Science Festival
0,4553,1164,60,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",47227110,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,265,977,43,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...",3200520,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,124,1286,26,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...",1636292,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200,1116,35,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...",1697550,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,593,1190,48,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...",12005869,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
#rating analysis

df_ted_main['ratings']=df_ted_main['ratings'].str.replace("'",'"')

df_ted_main=df_ted_main.merge(df_ted_main.ratings.apply(lambda x: pd.Series(pd.read_json(x)['count'].values,index=pd.read_json(x)['name'])), 
            left_index=True, right_index=True)

df_ted_main.drop('ratings', axis=1, inplace=True)

df_ted_main.head()

,comments,duration,languages,published_date,views,3d printing,AI,AIDS,Addiction,Africa,...,Longwinded,Confusing,Informative,Fascinating,Unconvincing,Persuasive,Jaw-dropping,OK,Obnoxious,Inspiring
0,4553,1164,60,1151367060,47227110,0,0,0,0,0,...,387,242,7346,10581,300,10704,4439,1174,209,24924
1,265,977,43,1151367060,3200520,0,0,0,0,0,...,113,62,443,132,258,268,116,203,131,413
2,124,1286,26,1151367060,1636292,0,0,0,0,0,...,78,27,395,166,104,230,54,146,142,230
3,200,1116,35,1151367060,1697550,0,0,0,0,0,...,53,32,380,132,36,460,230,85,35,1070
4,593,1190,48,1151440680,12005869,0,0,0,0,1,...,110,72,5433,4606,67,2542,3736,248,61,2893

In [64]:
# sentiment analysis of transcript
pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

df_ted_transcripts['polarity'] = df_ted_transcripts['transcript'].apply(pol)
df_ted_transcripts['subjectivity'] = df_ted_transcripts['transcript'].apply(sub)
df_ted_transcripts

,transcript,url,polarity,subjectivity
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...,0.146452,0.462051
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...,0.157775,0.424101
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...,0.136579,0.475229
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...,0.082928,0.439165
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...,0.096483,0.450631
5,Thank you. I have to tell you I'm both challen...,https://www.ted.com/talks/tony_robbins_asks_wh...,0.126712,0.520529
6,"On September 10, the morning of my seventh bir...",https://www.ted.com/talks/julia_sweeney_on_let...,0.112367,0.514263
7,I'm going to present three projects in rapid f...,https://www.ted.com/talks/joshua_prince_ramus_...,0.098828,0.384128
8,It's wonderful to be back. I love this wonderf...,https://www.ted.com/talks/dan_dennett_s_respon...,0.199677,0.528570
9,"I'm often asked, ""What surprised you about the...",https://www.ted.com/talks/rick_warren_on_a_lif...,0.152282,0.444031
10,I'm going to take you on a journey very quickl...,https://www.ted.com/talks/cameron_sinclair_on_...,0.144879,0.443246
11,I can't help but this wish: to think about whe...,https://www.ted.com/talks/jehane_noujaim_inspi...,0.106555,0.473007
12,I'm the luckiest guy in the world. I got to se...,https://www.ted.com/talks/larry_brilliant_want...,0.028754,0.463877
13,I'm really excited to be here today. I'll show...,https://www.ted.com/talks/jeff_han_demos_his_b...,0.217366,0.477391
14,I've been at MIT for 44 years. I went to TED I...,https://www.ted.com/talks/nicholas_negroponte_...,0.148029,0.473672
15,(Music)(Music ends)(Applause)(Applause ends)Hi...,https://www.ted.com/talks/sirena_huang_dazzles...,0.238403,0.542676
16,(Music)(Music ends)(Applause)Thank you!(Applau...,https://www.ted.com/talks/jennifer_lin_improvs...,0.195195,0.456885
17,"In terms of invention, I'd like to tell you th...",https://www.ted.com/talks/amy_smith_shares_sim...,0.118173,0.490973
18,My name is Lovegrove. I only know nine Lovegro...,https://www.ted.com/talks/ross_lovegrove_share...,0.146272,0.477605
19,"Charles Van Doren, who was later a senior edit...",https://www.ted.com/talks/jimmy_wales_on_the_b...,0.135444,0.460835
20,I'm Rich Baraniuk and what I'd like to talk a ...,https://www.ted.com/talks/richard_baraniuk_on_...,0.156359,0.467457
21,"You know, when Chris first approached me to sp...",https://www.ted.com/talks/ze_frank_s_nerdcore_...,0.129424,0.476098
22,"Over the past couple of days, as I've been pre...",https://www.ted.com/talks/mena_trott_tours_her...,0.138524,0.521049
23,I'd like to talk today about the two biggest s...,https://www.ted.com/talks/helen_fisher_tells_u...,0.209691,0.494682
24,I bet you're worried.(Laughter)I was worried. ...,https://www.ted.com/talks/eve_ensler_on_happin...,0.137720,0.467521
25,We've been told to go out on a limb and say so...,https://www.ted.com/talks/david_deutsch_on_our...,0.065657,0.475681
26,"My title: ""Queerer than we can suppose: the st...",https://www.ted.com/talks/richard_dawkins_on_o...,0.077556,0.448091
27,You'll be happy to know that I'll be talking n...,https://www.ted.com/talks/steven_levitt_analyz...,0.121190,0.485529
28,I think I was supposed to talk about my new bo...,https://www.ted.com/talks/malcolm_gladwell_on_...,0.151503,0.509334
29,"When you have 21 minutes to speak, two million...",https://www.ted.com/talks/dan_gilbert_asks_why...,0.201232,0.465283
...,...,...,...,...
2437,"Someday, we may have robots as smart as people...",https://www.ted.com/talks/robin_hanson_what_wo...,0.127312,0.426904
2438,This is a talk about sugar and cancer. I becam...,https://www.ted.com/talks/carolyn_bertozzi_wha...,0.130727,0.479511
2439,"[Yoruba: Freeborn Ijebu-Ode son,] [of true Ogb...",https://www.ted.com/talks/laolu_senbanjo_the_s...,0.102880,0.413054
2440,Are you tired of your boss?(Laughter)Are you t...,https://www.ted.com/talks/niki_okuk_when_worke...,0.185774,0.457405
2441,"So, my mother's a pediatrician, and when I was...",https://www.ted.com/talks/wanuri_kahiu_fun_fie...,0.264267,0.507289
2442,These are some photos of me volunteering in a ...,https://www.ted.com/talks/tara_winkler_why_we_...,0.124064,0.506072
2443,"Today, I'm going to talk about AI and us. AI r...",https://www.ted.com/talks/noriko_arai_can_a_ro...,0.173448,0.493644
2444,We are all activists now.(Applause)Thank you.I...,https://www.ted.com/talks/jennifer_granick_how...,0.120956,0.478771
2445,Why do people deliberately destroy cultural he...,https://www.ted.com/talks/chance_coughenour_ho...,0.097117,0.351187
2446,"I'm Chetan Bhatt and when I give my name, I'm ...",https://www.ted.com/talks/chetan_bhatt_dare_to...,0.065047,0.415023
2447,Do you remember these glow-in-the-dark little ...,https://www.ted.com/talks/daan_roosegaarde_a_s...,0.157685,0.524252
2448,"So in 2011, I altered my name so that I could ...",https://www.ted.com/talks/erin_marie_saltman_h...,0.013471,0.467305
2449,"Whether you like it or not, radical transparen...",https://www.ted.com/talks/ray_dalio_how_to_bui...,0.164947,0.527728
2450,"This is my favorite place on earth, Salar de U...",https://www.ted.com/talks/tomas_saraceno_would...,0.136943,0.498270
2451,"It's Christmas Eve, 1968. The Apollo 8 spacecr...",https://www.ted.com/talks/benjamin_grant_what_...,0.151442,0.458201
2452,Cities are like siblings in a large polygamous...,https://www.ted.com/talks/olutimehin_adegbeye_...,0.091190,0.506101
2453,Caitlin Quattromani: The election of 2016 felt...,https://www.ted.com/talks/caitlin_quattromani_...,0.117116,0.518834
2454,I used to think the whole purpose of life was ...,https://www.ted.com/talks/emily_esfahani_smith...,0.219408,0.478324
2455,How many companies have you interacted with to...,https://www.ted.com/talks/alexander_wagner_wha...,0.148566,0.484703
2456,"I was born and raised in Dakar, Senegal, and t...",https://www.ted.com/talks/pierre_thiam_a_forgo...,0.141044,0.434441
2457,"When someone mentions Cuba, what do you think ...",https://www.ted.com/talks/augie_picado_the_rea...,0.181507,0.465157
2458,"As you heard, I'm a physicist. And I think the...",https://www.ted.com/talks/helen_czerski_fun_ho...,0.106585,0.483819
2459,I'd like for you to take a moment to imagine t...,https://www.ted.com/talks/sethembile_msezane_l...,0.076496,0.502339
2460,"Today I'm here, actually, to pose you a questi...",https://www.ted.com/talks/jun_wang_how_digital...,0.125489,0.459748
2461,What stands between Africa's current prostrate...,https://www.ted.com/talks/oluf_mi_taiwo_why_af...,0.138078,0.409305
2462,"So, Ma was trying to explain something to me a...",https://www.ted.com/talks/duarte_geraldino_wha...,0.038878,0.352668
2463,This is a picture of a sunset on Mars taken by...,https://www.ted.com/talks/armando_azua_bustos_...,0.127087,0.538377
2464,"In my early days as a graduate student, I went...",https://www.ted.com/talks/radhika_nagpal_what_...,0.193538,0.526466
2465,I took a cell phone and accidentally made myse...,https://www.ted.com/talks/theo_e_j_wilson_a_bl...,0.100929,0.498050
2466,"We humans are becoming an urban species, so ci...",https://www.ted.com/talks/karoliina_korppoo_ho...,0.068143,0.408302

In [65]:
# merging both datasets and delete the rows that don't have a transcipt
df_ted_talks = pd.merge(df_ted_main, df_ted_transcripts, left_index=True, right_index=True)

In [66]:
# deleting the transcript and url columns because we don't need them.
del df_ted_talks['transcript']
del df_ted_talks['url']
df_ted_talks.head()

,comments,duration,languages,published_date,views,3d printing,AI,AIDS,Addiction,Africa,...,Informative,Fascinating,Unconvincing,Persuasive,Jaw-dropping,OK,Obnoxious,Inspiring,polarity,subjectivity
0,4553,1164,60,1151367060,47227110,0,0,0,0,0,...,7346,10581,300,10704,4439,1174,209,24924,0.146452,0.462051
1,265,977,43,1151367060,3200520,0,0,0,0,0,...,443,132,258,268,116,203,131,413,0.157775,0.424101
2,124,1286,26,1151367060,1636292,0,0,0,0,0,...,395,166,104,230,54,146,142,230,0.136579,0.475229
3,200,1116,35,1151367060,1697550,0,0,0,0,0,...,380,132,36,460,230,85,35,1070,0.082928,0.439165
4,593,1190,48,1151440680,12005869,0,0,0,0,1,...,5433,4606,67,2542,3736,248,61,2893,0.096483,0.450631

In [67]:
# from sklearn.preprocessing import StandardScaler

# scaled_features = StandardScaler().fit_transform(result.values)

# result = pd.DataFrame(scaled_features, index=result.index, columns=result.columns)
# result

In [68]:
# # shuffle data set before splitting
# result = result.sample(frac=1).reset_index(drop=True)
# result

In [75]:
# from sklearn.model_selection import StratifiedShuffleSplit

# split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
# for train_index, test_index in split.split(df_ted_talks, df_ted_talks["views"]):
#     df_train_set = df_ted_talks.loc[train_index]
#     df_test_set = df_ted_talks.loc[test_index]

# df_test_set["views"].value_counts() / len(df_test_set)

In [87]:
#We will shuffle the whole dataset first (df.sample(frac=1)) and then split our data set into the following parts:
# 60% - train set
# 20% - validation set
# 20% - test set

df_train, df_val, df_test = np.split(df_ted_talks.sample(frac=1), [int(.6*len(df_ted_talks)), int(.8*len(df_ted_talks))])

In [90]:
from sklearn.preprocessing import StandardScaler


df_train_stand = StandardScaler().fit_transform(df_train.values)
df_val_stand = StandardScaler().fit_transform(df_val.values)
df_test_stand = StandardScaler().fit_transform(df_test.values)



df_train = pd.DataFrame(df_train_stand, index=df_train.index, columns=df_train.columns)
df_val = pd.DataFrame(df_val_stand, index=df_val.index, columns=df_val.columns)
df_test = pd.DataFrame(df_test_stand, index=df_test.index, columns=df_test.columns)