In [59]:
import pandas as pd
from textblob import TextBlob
import numpy as np

In [60]:
df_trans = pd.read_csv("data/transcripts.csv")
df_main = pd.read_csv("data/ted_main.csv")

In [61]:
df_trans.shape

(2467, 2)

In [62]:
df_main.shape

(2550, 17)

In [63]:
df_trans.head()

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...

In [ ]:
pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

df_trans['polarity'] = df_trans['transcript'].apply(pol)
df_trans['subjectivity'] = df_trans['transcript'].apply(sub)
df_trans

In [ ]:
df_main.head()

In [ ]:
df_main.sort_index(inplace=True)
df_trans.sort_index(inplace=True)

In [ ]:
df = pd.concat([df_trans, df_main])
df = df.reset_index(drop=True)
df

In [ ]:
df.shape

In [ ]:
df.count()

In [ ]:
df = df.drop_duplicates(subset='url', keep="first")
df

In [ ]:
df.shape

In [ ]:
df = df.sort_values('url', ascending=False)

In [ ]:
df = df.drop_duplicates(subset='url', keep='first')
df

In [ ]:
df.count()

In [ ]:
df = df[df['transcript'].notna()]

In [ ]:
df

In [ ]:
df.whercount