In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [4]:
df_main = pd.read_csv("downloads/ted-talks/ted_main.csv")
df_trans = df = pd.read_csv("downloads/ted-talks/transcripts.csv")

FileNotFoundError: [Errno 2] File b'downloads/ted-talks/ted_main.csv' does not exist: b'downloads/ted-talks/ted_main.csv'

In [5]:
df_main.shape

(2550, 17)

In [7]:
df_trans.shape

(2467, 2)

In [1]:
df_main.head()

NameError: name 'df_main' is not defined

In [10]:
df_trans.head()

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...

In [68]:
occupation = list(df_main['main_speaker'].unique())
print(len(occupation))
# 394

2156

In [18]:
import re
import string

In [59]:
def clean_text_round1(text):
#     Make all text lower case.
    text = text.lower()
#   Looks at the things in the square bracts and replaces them with nothing.  
    text = re.sub('\[.*?\]', ' ', text)
#   Replaces punctuation marks with nutting.
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
#   Replaces numbers with nothing  
    text = re.sub('\w*\d\w*', ' ', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [60]:
data_clean = pd.DataFrame(df_trans.transcript.apply(round1))
data_clean

                                             transcript
0     good morning  how are you  laughter it s been ...
1     thank you so much  chris  and it s truly a gre...
2      music   the sound of silence   simon   garfun...
3     if you re here today — and i m very happy that...
4     about   years ago  i took on the task to teach...
...                                                 ...
2462  so  ma was trying to explain something to me a...
2463  this is a picture of a sunset on mars taken by...
2464  in my early days as a graduate student  i went...
2465  i took a cell phone and accidentally made myse...
2466  we humans are becoming an urban species  so ci...

[2467 rows x 1 columns]

In [23]:
speaker_u = list(df_main['name'].unique())
print(len(speaker_u))

2550

In [26]:
speaker = list(df_main['name'])
print(len(speaker))
# They are all unique speakers.

2550

In [61]:
def clean_text_round2(text):
    text = re.sub('[""''*,:;<>_-]', ' ', text)
    text = re.sub('\n', ' ', text)
    return text

round2 = lambda x: clean_text_round2(x)

In [62]:
data_clean = pd.DataFrame(data_clean.transcript.apply(round2))
data_clean

                                             transcript
0     good morning  how are you  laughter it s been ...
1     thank you so much  chris  and it s truly a gre...
2      music   the sound of silence   simon   garfun...
3     if you re here today — and i m very happy that...
4     about   years ago  i took on the task to teach...
...                                                 ...
2462  so  ma was trying to explain something to me a...
2463  this is a picture of a sunset on mars taken by...
2464  in my early days as a graduate student  i went...
2465  i took a cell phone and accidentally made myse...
2466  we humans are becoming an urban species  so ci...

[2467 rows x 1 columns]

In [67]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(data_clean.transcript)
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_dtm.index = data_clean.index
data_dtm
# Maybe a problem, there are words from other languages in some transcripts.

,aa,aaa,aaaa,aaaaa,aaaaaaaah,aaaaaaaargh,aaaaaaah,aaaaaah,aaaaaas,aaaab,...,ālep,čapek,ōfunato,ʾan,ʾilla,ʾilāha,อย,อยman,อร,送你葱
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2465,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2466,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0